body{
    background-color: #2A2B2E;
}

.input-div form{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    background-color: beige;
    padding: 10px;
    /* border: 2px solid; */
}

input{
    width: 70%;
    height: 30px;
    font-size: 25px;
    font-weight: 600;
    border: 2px solid;
}

button{
    width: 25%;
    max-width: 150px;
    height: 35px;
    font-size: 24px;
    font-weight: 550;
    color: white;
    background-color: #4D7298;
    border: none;
    border-radius: 7px;
    
}

button:hover{
    box-shadow: 5px 5px 3px grey;
    cursor: pointer;
}

.display-ele{
    color: white;
    font-size: 25px;
    display: flex;
    border: 2px solid green;
    background-color: #4D7298;
    width: 85%;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    /* display: none; */
}

.display-ele span{
    /* border: 2px solid; */
    max-width: 90%;
}

.task-checkbox{
    display: flex;
    align-items: center;
    max-width: 84%;
}

.display-ele .checkbox{
    width: 35px;
    margin-right: 8%;
}

.checkbox:hover, .remove-btn:hover{
    transform: scale(1.07);
    cursor: pointer;
}

.display-none{
    display: none;
}

.overline{
    text-decoration: line-through;
    color: rgb(179, 179, 179);
}